body {
    background-image: url(./assets/background.png); 
    background-size: cover; 
    font-family: 'Comic Sans MS', 'Comic Sans';
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}
.topbartext {
    font-weight: 700; 
    background-color: rgba(256, 256, 256, 0.125); 
    padding: 4px 12px; 
    border-radius: 16px;
}
.welcome {
    background-color: azure; 
    padding: 16px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 4mm ridge rgba(233, 237, 8, 0.6); 
    border-radius: 12px;
}
.topbar {
    padding: 0px 10px; 
    color: azure; 
    display: flex; 
    justify-content: space-between; 
    backdrop-filter: blur(10px); 
    background-color: rgba(0, 0, 0, 0.25); 
    border-radius: 12px;
}
#window {
    user-select: none; 
}
/* added a simple thing so it targets elements with header in them eeeeee */
[id*="header"] {
  cursor: grab;
}