.body {
    background-image: url(./assets/background.png); 
    background-size: cover; 
    font-family: 'Comic Sans MS', 'Comic Sans';
}
.topbartext {
    font-weight: 700; 
    background-color: rgba(256, 256, 256, 0.125); 
    padding: 4px 12px; 
    border-radius: 16px;
}